doctype html
html(lang='en')
    head
        title Jade
        script(type='text/javascript').
            foo = true;
            bar = function () {};
            if (foo) {
                bar(1 + 5)
            }

    body
        h1 Jade - node template engine
        - var x = 5;
        div.myclass#myid
            ul
                - for (var i=1; i<=x; i++) {
                li Hello
                - }